*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
Danick/Danick/bin/
Danick/bin/
Danick/Danick/obj/
Danick/obj/
Danick/Content/obj/
!Danick/x64
!Danick/x86
!Danick/Libraries
